@import 'assets/scss/base/_variables.scss';
@import 'assets/scss/base/_resets.scss';

/* CLASSES */
@import 'assets/scss/modules/_classes.scss';

/*BODY */
@import 'assets/scss/layouts/_main.scss';

@media(max-width: 768px) and (min-width: 420px){
	.form li{
		padding: 0 10px 0 10px;
	}
	.form button{
		width: 60%;
		margin-top: 10px;
		margin-left: 3px;
	}
}